<!-- <h3>Understanding databinding</h3> -->

<!-- <p> Databinding = Communication</p>
<p> TypeScript Code (Business Logic) <_______________________________> Template(HTML)</p>
<p> ____________________________________->Output Data->_________________-></p>
<p>______________Using either String Interpolation or Property Binding_____________</p>
<p> <-___________________________<-React to (User) Events<-___________________</p>
<p>____________________Using Event Binding ((event)="expression")_______________</p>
<p> <-_____________Combination of Both: Two-Way-Binding([(ngModel)]="data")________</p>
<br>
<p>__________________________________________________________________</p> -->
<!-- <br> -->
<p>Server with ID {{serverId}} is {{getServerStatus()}}</p>